html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

div {
    padding: 5px 0;
}

button {
    padding: 5px 20px;
}

input[type="text"] {
    padding: 5px;
}