html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

div {
    margin: 10px 0;
}

h1 {
    font-size: 2rem;
}

span {
    font-weight: bold;
}